:root{
    --preto: #141414;
    --vermelho: rgb(190, 34, 34);
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: var(--preto);
    font-family: 'Arial', Times, serif;
    color: #fff;
}
header .Logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    margin-left: 10px;
    font-size: 40px;
}
header .container{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul a {
    text-decoration: none;
    color: rgb(168, 160, 160);
    margin-right: 15px;

}
header ul a:hover {
    text-decoration: none;
    color: #fff;
    align-items: center;

}
/* Filme Principal */

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100% ), url(../img/capa-cav-lua.jpg);

    height: 500px;
    background-size: cover;

    display: flex;

    /* flex -> justify seguem-se*/
    flex-direction: column;
    justify-content: center;
    /*--------------------------*/

    align-items:flex-start;
}
.filme-principal .sinopse{
    margin-bottom: 40px;

}
.titulo{
    font-size: 40px;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
    background-color: rgba(0,0,0,.50);
    color: white;
    border: none;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;


    cursor: pointer;
    transition: .30 ease all;
}
.btn:hover{
    background-color: white;
    color: black;
}

.btn i{
    margin-right: 7px;
}

.container{
    margin-left: 20px;
}
.filme-principal .container{
    width: 70%;
}
.filme-box{
    height: 100%;
    width: 100%;
    display: block;
}

.filmes-carousel{
    margin-top: 5px;
}

.rodape{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: rgb(168, 160, 160);
}
.rodape:hover{
    color: #fff;
}